<div class="jumbotron">
  <h1>Sematic web app!</h1>
  <p class="lead">
    <img src="images/uniandes.png" alt="I'm Yeoman"><br>Grupo 2, tema musica.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Genial!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Integrantes</h4>
  <ul class="">
    <li>Jorge Hernandez</li>
    <li>Gustavo Peña</li>
    <li>Julian Camilo Gomez</li>
    <li>Omar Herazo</li>
  </ul>

  <h4>Datos asignados</h4>
  <ul class="">
    <li>Discogs</li>
    <li>MetalArchives</li>
    <li>LyricsWikia</li>
  </ul>
</div>
