<div class="modal fade">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="close(false)" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Detalles Query</h4>
      </div>
      <div style="width: 90%;" class="container">
        <text ng-bind=query></text>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close(true)" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
